# entorno virtual
venv/
.env

#  Node.js y Tailwind CSS
node_modules/
static/css/output.css

theme/
tailwind_theme/

#  Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo

#  Archivos de migraciones compilados
**/__pycache__/

#  Archivos temporales
*.log
*.pot
*.pyc
*.sqlite3

#  Archivos del sistema
.DS_Store
Thumbs.db