{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth/password_reset_confirm.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-confirm-container">
    <div class="password-reset-confirm-card">
        <div class="password-reset-confirm-header">
            <h3>Cambiar Contraseña</h3>
        </div>
        <div class="password-reset-confirm-body">
            <form method="post" class="password-reset-confirm-form">
                {% csrf_token %}
                
                <div class="password-reset-confirm-group">
                    <label for="{{ form.new_password1.id_for_label }}" class="password-reset-confirm-label">Nueva contraseña</label>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="password-reset-confirm-error">
                            {% for error in form.new_password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <br>
                <div class="password-reset-confirm-group">
                    <label for="{{ form.new_password2.id_for_label }}" class="password-reset-confirm-label">Confirmar nueva contraseña</label>
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="password-reset-confirm-error">
                            {% for error in form.new_password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <br>
                <button type="submit" class="password-reset-confirm-button">Cambiar contraseña</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
