{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth/password_reset_complete.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-complete-container">
    <div class="password-reset-complete-card">
        <div class="password-reset-complete-header">
            <h3>Contraseña cambiada</h3>
        </div>
        <div class="password-reset-complete-body">
            <p>Tu contraseña ha sido cambiada con éxito.</p>
            <a href="{% url 'auth:login' %}" class="password-reset-complete-button">Iniciar sesión</a>
        </div>
    </div>
</div>
{% endblock %}
