<nav class="navbar">
    <div class="container nav-container">
      <div class="nav-logo">
        {% if user.is_authenticated %}
          <a href="{% url 'home' %}" class="logo-link">AgeMatch</a>
        {% else %}
          <span class="logo-text">AgeMatch</span>
        {% endif %}
      </div>
  
      <ul class="nav-links">
        {% if user.is_authenticated %}
        <li><a href="{% url 'estadisticas' %}">Estadísticas</a></li>
        <li><a href="{% url 'detector' %}">Detector</a></li>
        <li><a href="{% url 'auth:logout' %}">Cerrar Sesión</a></li>
        {% else %}
        <li><a href="{% url 'auth:login' %}">Iniciar Sesión</a></li>
        <li><a href="{% url 'auth:register' %}">Registrarse</a></li>
        {% endif %}
    </ul>
    </div>
</nav>
