<nav class="navbar">
    <div class="container">
        <ul class="nav-links">
            {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}" class="logo-link">AgeMatch</a></li>
            {% else %}
                <li><span>AgeMatch</span></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'estadisticas' %}">Estadísticas</a></li>
                <li><a href="{% url 'detector' %}">Detector</a></li>
                <li><a href="{% url 'auth:logout' %}">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{% url 'auth:login' %}">Iniciar Sesión</a></li>
                <li><a href="{% url 'auth:register' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
