@import url('../../variables/_variables.css');

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xl);
    min-height: 100vh;
    height: 100vh;
    background-image: url('../../img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-primary);
    position: relative;
    z-index: 1;
}

/* Estilos específicos para el login */
.login-form {
    width: 100%;
    max-width: 400px;
}

/* Aseguramos que el formulario esté centrado */
.login-container .form-card {
    margin: 0 auto;
}
