{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AgeMatch{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'includes/nav.html' %}

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
